<meta charset="utf-8">
<title>Project Title</title>
<meta name="title" content="Project Title">
<meta name="description" content="Project description">
<meta name="keywords" content="keylist">
<link rel="stylesheet" type="text/css" href="/assets/style/main.css">
<script type="text/javascript" src="/assets/script/jquery.js"></script>